$color_1: #fafafc;
$color_2: #737373;
$color_3: #ffffff;
$color_4: #1c1d2d;
$color_5: #e1e1e1;
$color_6: #8f8f8f;
$color_7: #1c1d2d;
$color_8: #1976d2;
$color_9: #5e6777;
$color_10: #9da0a6;
$color_11: #e4ebf2;
$color_12: #ebf1f7;
$color_13: #e6ecf2;
$color_14: #fbc02d;
$color_15: #5398dd;
$color_16: #deebf7;
$color_17: #f5f8fb;
$color_18: #3cb35f;
$color_19: #ebebeb;
$color_20: #6a6a6a;
$color_21: #c3c4c6;
